
.password{
	background: #097e89;
	display: flex;
}

.password_text{
	color: white;
	min-height: 150px;
	padding-top: 20px;
	padding-left: 80px;
}

.password_text h3{
	font-size: 30px;
	padding-bottom: 30px;
}

.password_text p{
	font-size: 12px;
}

.password_form-main{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.password_form{
	height: 50px;
	display: flex;
}

.password_form-text{
	background: #097e89;
	width: 200px;
	text-align: center;
	padding: 15px;
	border: 1px #84bfc4 solid;
	font-size: 10.5px;
}

.password_form-text:nth-child(1){
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.password_form-text::placeholder{
	color: white;
}

.password_form-button{
	background: white;
	color: #097e89;
	border: 1px white solid;
	width: 95px;
	padding: 14px;
	text-align: center;
	font-size: 12px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	cursor: pointer;
}


@media screen and (max-width:959px){
	.password {
		display: block;
		padding-bottom: 25px;
	}

	.password_form-main {
		width: 100%;
	}

	.password_text {
		text-align: center;
		padding-left: 10px;
	}
}

@media screen and (max-width:550px){
	.password_form-text {
		width: 180px;
	}

	.password_form-button {
		width: 79px;
	}
}

@media screen and (max-width:480px){
	.password_form-text {
		width: 150px;
	}

	.password_form-button {
		width: 70px;
	}
}

@media screen and (max-width:400px){
	.password_form-text {
		width: 130px;
	}

	.password_form-button {
		width: 65px;
	}
}